@font-face {
    font-family: 'Roboto';
    src: url('Roboto/Roboto-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto/Roboto-Medium.ttf');
    font-weight: bold;
}

@media only screen and (min-aspect-ratio: 1/1) { /* For laptop */
    .banner {
        height: 22vh;
    }

    .screen {
        width: 75vw;
        height: 97vh;
        padding: 0px 22px 0px 22px;
        border-top: 2px solid silver;
        border-left: 2px solid silver;
        border-right: 2px solid silver;
    }

    .laptop {
        width: 75vw;
    }

    .header {
        width: 75vw;
        flex-direction: row;
        align-items: center;
        height: 13vh;
    }

    .name {
        font-size: 3vh;
        flex-direction: row;
        align-items: center;
        gap: 15px;
    }

    .name-banner {
        font-size: 2vh;
        padding: 3px 10px 3px 10px;
    }

    .buttons {
        font-size: 2vh;
    }

    .menu-item {
        padding: 1.5vh 1vw 0 1vw;
    }

    .trailer-elements {
        flex-direction: row;
        gap: 20px;
        overflow-x:auto;
    }

    .trailer-video-container {
        width: 480px;
        height: 290px;
    }

    .trailer-text {
        width: 35vw;
        height: 260px;
    }

    .block {
        padding: 30px 30px 0px 30px;
    }

    .social-links {
        margin: 15px;
        padding: 8px;
        gap: 15px;
    }

    .about-text-container {
        width: calc(75vw - 30px);
    }

    .about-text {
        width: 550px;
    }

    .about-channel {
        width: 550px;
    }

    .page > .block-video {
        flex-direction: column;
    }

    .small-video-thumbnail {
        height: 130px;
        width: 230px;
    }
    
    .small-clear {
        height: 130px;
        width: 230px;
    }

    .page {
        padding: 30px;
    }

    .small-video-title {
        width: 230px;
    }

    .small-duration {
        top: 50px;
        left: 85px;
    }

    .opening {
        width: 75vw;
        height: calc(100vh - 40px);
    }

    .playlist-cover {
        height: 130px;
    }
}

@media only screen and (max-aspect-ratio: 1/1) { /* For phone */
    .banner {
        height: 18vh;
    }

    .screen {
        width: 100vw;
        height: 97vh;
    }

    .laptop {
        width: 100vw;
    }

    .header {
        width: 100vw;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 15px;
        height: 23vh;
    }

    .name {
        font-size: 3vh;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        margin-left: 4vw;
    }

    .name-banner {
        font-size: 1.5vh;
        padding: 0 8px 0 8px;
    }

    .move-row {
        display: flex;
        flex-direction: row;
    }

    .buttons {
        margin-top: 10px;
        font-size: 2vh;
    }

    .sub {
        margin-left: 4vw;
    }

    .menu-item {
        padding: 1vh 2vw 0 2vw;
    }

    .trailer-elements {
        flex-direction: column;
    }

    .trailer-video-container {
        width: 42vh;
        height: 25.375vh;
    }

    .block {
        padding: 20px 20px 0px 20px;
        overflow: hidden;
    }

    .trailer-text {
        height: 20vh;
    }

    .social-links {
        margin: 5px;
        padding: 4px;
        gap: 10px;
    }

    .page > .block-video {
        flex-direction: row;
    }

    .small-video-thumbnail {
        height: 97.5px;
        width: 172.5px;
        margin-right: 5px;
    }

    .small-clear {
        height: 97.5px;
        width: 172.5px;
    }

    .page {
        padding: 20px;
    }

    .small-video-title {
        width: 172.5px;
    }

    .small-duration {
        top: 35px;
        left: 58px;
    }

    .opening {
        width: 100vw;
        height: calc(97vh - 40px);
    }

    .playlist-cover {
        height: 97.5px;
    }
}

::-webkit-scrollbar {
    display: none;
}

html {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: url('https://images.pexels.com/photos/1043458/pexels-photo-1043458.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Roboto;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    overflow: hidden;
}

body {
    margin: 0;
    overflow: hidden;
    background-color: black;
}

a {
    text-decoration: none;
    color: white;
}

.screen {
    background-color: black;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    border-radius: 28px 28px 0px 0px;
    overflow-y:auto;
    overflow-x:hidden;
    scroll-behavior: smooth;
}

.laptop {
    background-color: black;
    height: 40px;
    position: fixed;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.camera {
    background-color: #333333;
    height: 12px;
    width: 12px;
    border-radius: 6px;
}

.opening {
    background-color: #0F0E0E;
    z-index: 501;
    position: absolute;
    bottom: 0;
    left: 5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 20px;
    font-size: 40px;
    font-weight: bold;
    opacity: 1;
    transition: opacity 1s ease-out;
}

.opening.hide {
    opacity: 0;
}

.opening-heartplay {
    background-image: url('icons/heartplay.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 102px;
    height: 72px;
}

.banner {
    background-image: url('portfoliobanner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.social {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.social-links {
    position: relative;
    bottom: 0px;
    right: 0px;
    background-color: rgb(0, 0, 0, 0.5);
    font-size: 15px;
    color: white;
    display: flex;
    flex-direction: row;
}

.social-icon {
    width: 15px;
    height: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    background-color: #171616;
    display: flex;
    overflow-x: scroll;
}

.profile {
    display: flex;
    align-items: center;
    margin-left: 3vw;
}

.profile-image {
    display: flex;
    width: 10vh;
    height: 10vh;
    border-radius: 5vh;
    background-image: url('channels/IMG_5548.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-text {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.name {
    color: white;
    display: flex;
}

.name-banner {
    background-color: #171616;
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vh;
    border-radius: 2.5vh;
    border: 2px dotted grey;
}

.sub {
    color: grey;
    font-size: 2vh;
    margin-top: 5px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    font-weight: bold;
    margin-left: 4vw;
}

.join-button {
    background-color: #171616;
    border: 1px solid rgb(91,158,214);
    color: rgb(91,158,214);
    padding: 1.5vh;
    border-radius: 2px;
}

.cv-button {
    background-color: #171616;
    border: 1px solid #cccccc;
    color: #cccccc;
    padding: 1.5vh;
    border-radius: 2px;
}

.join-button:hover, .cv-button:hover {
    background-color: #393838;
}

.subscribe-button {
    background-color: #AB1314;
    padding: 1.5vh;
    color: white;
    border-radius: 2px;
    border: 1px solid #AB1314;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    white-space: nowrap;
}

.subscribe-button:hover {
    background-color: #CD3536;
}

.menu {
    background-color: #171616;
    height: 5vh;
    display: flex;
    flex-direction: row;
    padding-left: 3vw;
    padding-right: 12vw;
    font-size: 2vh;
    position: sticky;
    top: 3.5vh;
    z-index: 500;
    overflow-x:auto;
    justify-content: flex-start;
}

.menu-item {
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 0 0 auto;
}

.menu-item:hover {
    border-bottom: 1px solid #AAAAAA;
    cursor: pointer;
}

.small-menu-item {
    width: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 1.5vh;
    flex: 0 0 auto;
}

.small-menu-item:hover {
    border-bottom: 1px solid #AAAAAA;
    cursor: pointer;
}

#highlight-item {
    color: white;
    border-bottom: 1px solid white;
}

#menu-item {
    color: #AAAAAA;
    cursor: normal;
}

.about-text-container {
    overflow-x: scroll;
}

.about-text {
    margin-bottom: 30px;
}

.about-channel {
    padding: 15px;
    color: black;
    background-color: grey;
    font-size: 14px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.container {
    background-color: #0F0E0E;
    overflow-y: auto;
}

.block {
    background-color: #0F0E0E;
    border-top: 1px solid #3E3E3F;
    display: flex;
    flex-direction: column;
    color: white;
}

.trailer-video-container {
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}

.trailer-video {
    position: absolute;
    bottom: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.block-title {
    color: white;
    font-size: 3vh;
    font-weight: bold;
    margin-bottom: 15px;
    background-color: #0F0E0E;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.trailer-elements {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.block-elements {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    overflow-x:auto;
}

.block-elements > .block-video {
    flex-direction: column;
}

.block-video {
    background-color: #0F0E0E;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}

.block-video:hover {
    cursor: pointer;
}

.block-right {
    height: 150px;
    justify-content: center;
    display: flex;
    align-items: center;
    transition: ease-in-out 0.3s;
}

.block-right:hover {
    opacity: 0.7;
    cursor: pointer;
}

.video-thumbnail {
    height: 150px;
    width: 265px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
}

.clear {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 150px;
    width: 265px;
}

.small-video-thumbnail {
    position:relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-clear {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.duration {
    padding: 3px;
    color: white;
    font-size: 12px;
    position: relative;
    top: 60px;
    border-radius: 2px;
    align-items: center;
    text-align: center;
}

.small-duration {
    padding: 3px;
    color: rgb(255,255,255,0.8);
    font-size: 12px;
    position: relative;
    border-radius: 2px;
    align-items: center;
    text-align: center;
    width: 45px;
    background-color: #00000066;
    font-weight: bold;
}

.trailer-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
}

.trailer-video-title {
    font-size: 18px;
    color: white;
    font-weight: bold;
    width: 265px;
    margin-top: 5px;
}

.trailer-video-sub {
    font-size: 14px;
    color: grey;
}

.trailer-video-description {
    font-size: 14px;
    color: white;
}

.video-title {
    font-size: 14px;
    color: white;
    font-weight: bold;
    width: 265px;
    margin-top: 5px;
}

.small-video-title {
    font-size: 14px;
    color: white;
    font-weight: bold;
    margin-top: 5px;
}

.video-sub {
    font-size: 10px;
    color: grey;
}

.video-tag {
    font-size: 10px;
    padding: 1px 4px 1px 4px;
    background-color: grey;
    opacity: 0.7;
    margin-bottom: 20px;
    border-radius: 2px;
    display: inline-block;
}

.page {
    background-color: #0F0E0E;
    border-top: 1px solid #3E3E3F;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    flex-wrap:wrap;
    color: white;
    margin-bottom: 50px;
}

.shorts:hover {
    cursor: pointer;
}

@media only screen and (min-aspect-ratio: 1/1) {
    .shorts-thumbnail {
        width: 240px;
        height: 400px;
    }

    .shorts-cover {
        width: 240px;
        height: 400px;
    }

    .shorts-title {
        width: 240px;
    }
}

@media only screen and (max-aspect-ratio: 1/1) {
    .shorts-thumbnail {
        width: 42vw;
        height: 70vw;
    }

    .shorts-cover {
        width: 42vw;
        height: 70vw;
    }

    .shorts-title {
        width: 42vw;
    }
}

.shorts-thumbnail {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    position: relative;
}

.shorts-title {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

.shorts-sub {
    font-size: 14px;
    color: grey;
    margin-bottom: 20px;
}

.shorts-cover {
    background-color: white;
    opacity: 0;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    transition: ease-in-out 0.3s;
}

.playlist-cover {
    position: absolute;
    width: 80px;
    background-color: rgb(0, 0, 0, 0.75);
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transition: ease-in-out 0.3s;
}

.playlist-icon {
    background-image: url('icons/playlist.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
}

.playlist-count {
    color: white;
    font-size: 18px;
}

.search-input-container {
    display: flex;
    flex-direction: row;
    position: sticky;
    z-index: 500;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    margin-left: 1vw;
}

.search-input {
    background-color: #333333;
    height: 3vh;
    font-size: 2vh;
    z-index: 500;
    width: 10vw;
    color: white;
    border: none;
    border-radius: 5px;
    display: flex;
}