.open-video {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 800px;
    padding: 30px;
    overflow-y:hidden;
    background-color: #0F0E0E;
}

.cover {
    background-color: #0F0E0E;
    position:absolute;
    top:0;
    left:0;
    height: 30px;
    width: 800px;
    z-index: 100;
}

.video-cover {
    width: 700px;
    height: 440px;
    position: absolute;
    left: 30px;
    top: 30px;
    background-color: rgb(0,0,0,0.2);
    transition: ease-in-out 0.5s;
}

.video-cover:hover {
    cursor: pointer;
}

.playbar {
    width: 680px;
    height: 3px;
    background-color: white;
    opacity: 0.3;
    position: absolute;
    top: 395px;
    left: 10px;
}

.play {
    width: 25px;
    height: 25px;
    background-image: url('icons/icons8-play-90.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 20px;
    bottom: 10px;
    opacity: 0.8;
    transition: ease-in-out 0.2s;
    pointer-events: auto;
}

.play:hover {
    opacity: 1;
}

.full-screen {
    width: 25px;
    height: 25px;
    background-image: url('icons/icons8-full-screen-100.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 20px;
    bottom: 10px;
    opacity: 0.8;
    transition: ease-in-out 0.2s;
    pointer-events: auto;
}

.full-screen:hover {
    opacity: 1;
}

.keyboard-popup {
    position: absolute;
    top: 35px;
    left: 400px;
    background-color: red;
    padding: 2px 6px 2px 6px;
    border-radius: 8px;
    color: white; 
    font-weight: bold;
}

iframe#setZoom {
    zoom: 0.69;
    -moz-transform: scale(0.69);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.69);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.69);
    -webkit-transform-origin: 0 0;
}

.iframe-container {
    height: 440px;
    width: 700px;
    position: absolute;
    overflow: hidden;
    border-radius: 10px;
    top: 30px;
    left: 30px;
}

.title {
    font-size: 20px;
    color: white;
    font-weight: bold;
    width: 700px;
    position: absolute;
    top: 485px;
}

.description {
    background-color: #272727;
    border-radius: 10px;
    position: absolute;
    top: 590px;
    width: 670px;
    padding: 15px;
    color: white;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}

.description-title {
    font-weight: bold;
    color: #ABAAAB;
}

.video-profile {
    height: 80px;
    position: absolute;
    top: 510px;
    width: 680px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

.video-profile-pic {
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
}

.video-profile-text {
    display: flex;
    flex-direction: column;
}

.video-profile-name {
    font-size: 17px;
    font-weight: bold;
    color: white;
}

.video-profile-role {
    font-size: 12px;
    color: grey;
    margin-top: 4px;
}

.small-subscribe-button {
    background-color: #AB1314;
    padding: 10px;
    color: white;
    font-weight: bold;
    margin-left: 20px;
    border-radius: 2px;
}

.small-subscribe-button:hover {
    background-color: #CD3536;
}

.hyperlink {
    color: lightpink;
    text-decoration: underline;
}

.heartplay {
    background-image: url('icons/heartplay.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 68px;
    height: 48px;
    position: absolute;
    left: 316px;
    top: 166px;
}

.related-playlist {
    position: absolute;
    top: 80px;
    left: 750px;
    color: grey;
    font-size: 12px;
}

.related-playlist:hover {
    cursor: pointer;
}

.related-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    width: 310px;
    overflow-x: scroll;
    color: white;
    font-weight: bold;
    font-size: 14px;
    position: absolute;
    left: 750px;
    top: 30px;
}

.related-button {
    background-color: rgb(63,62,62,0.5);
    border-radius: 8px;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
    transition: ease-in-out 0.3s;
    white-space: nowrap;
}

.related-button:hover {
    background-color: rgb(63,62,62);
    cursor: pointer;
}

#related-button {
    background-color: rgb(63,62,62,0.5);
    color: white;
}

#related-highlight {
    background-color: #F1F1F1;
    color: #0F0F0F;
}

.related-videos {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 750px;
    top: 100px;
    width: 310px;
    height: 600px;
    gap: 10px;
}

.related-video {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 310px;
}

.related-video:hover {
    cursor: pointer;
}

.related-video-thumbnail {
    height: 80px;
    width: 142px;
    position:relative;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.related-video-clear {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 142px;
    background-color: white;
    opacity: 1;
    transition: ease-in-out 0.3s;
}

.related-video-text {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 160px;
}

.related-video-title {
    font-size: 12px;
    color: white;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 2px;
}

.related-duration {
    padding: 1px;
    color: rgb(255,255,255,0.8);
    font-size: 8px;
    position: relative;
    top: 28px;
    border-radius: 2px;
    align-items: center;
    text-align: center;
    width: 35px;
    left: 48px;
    background-color: rgb(0,0,0,0.4);
    font-weight: bold;
}