.open-video {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 800px;
    padding: 30px;
    overflow-y:hidden;
    background-color: #0F0E0E;
}

.cover {
    background-color: #0F0E0E;
    position:absolute;
    top:0;
    left:0;
    height: 30px;
    width: 800px;
    z-index: 100;
}

.video-cover {
    width: 700px;
    height: 440px;
    position: absolute;
    left: 30px;
    top: 30px;
    background-color: rgb(0,0,0,0.2);
    transition: ease-in-out 0.5s;
}

.video-cover:hover {
    cursor: pointer;
}

.playbar {
    width: 680px;
    height: 3px;
    background-color: white;
    opacity: 0.3;
    position: absolute;
    top: 395px;
    left: 10px;
}

.play {
    width: 25px;
    height: 25px;
    background-image: url('icons/icons8-play-90.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 20px;
    bottom: 10px;
    opacity: 0.8;
    transition: ease-in-out 0.2s;
    pointer-events: auto;
}

.play:hover {
    opacity: 1;
}

.full-screen {
    width: 25px;
    height: 25px;
    background-image: url('icons/icons8-full-screen-100.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 20px;
    bottom: 10px;
    opacity: 0.8;
    transition: ease-in-out 0.2s;
    pointer-events: auto;
}

.full-screen:hover {
    opacity: 1;
}

iframe#setZoom {
    zoom: 0.69;
    -moz-transform: scale(0.69);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.69);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.69);
    -webkit-transform-origin: 0 0;
}

.iframe-container {
    height: 440px;
    width: 700px;
    position: absolute;
    overflow: hidden;
    border-radius: 10px;
    top: 30px;
    left: 30px;
}

.title {
    font-size: 20px;
    color: white;
    font-weight: bold;
    width: 700px;
    position: absolute;
    top: 485px;
}

.description {
    background-color: #272727;
    border-radius: 10px;
    position: absolute;
    top: 590px;
    width: 670px;
    padding: 15px;
    color: white;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}

.description-title {
    font-weight: bold;
    color: #ABAAAB;
}

.video-profile {
    height: 80px;
    position: absolute;
    top: 510px;
    width: 680px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

.video-profile-pic {
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
}

.video-profile-text {
    display: flex;
    flex-direction: column;
}

.video-profile-name {
    font-size: 17px;
    font-weight: bold;
    color: white;
}

.video-profile-role {
    font-size: 12px;
    color: grey;
    margin-top: 4px;
}

.small-subscribe-button {
    background-color: #AB1314;
    padding: 10px;
    color: white;
    font-weight: bold;
    margin-left: 20px;
    border-radius: 2px;
}

.small-subscribe-button:hover {
    background-color: #CD3536;
}

.hyperlink {
    color: lightpink;
    text-decoration: underline;
}

.heartplay {
    background-image: url('icons/heartplay.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 68px;
    height: 48px;
    position: absolute;
    left: 316px;
    top: 166px;
}