.shorts-view {
    width: 75vw;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.shorts-footage {
    height: 500px;
    width: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('skills/3dprinting.jpg');
    border-radius: 20px 0 0 20px;
}

.shorts-comments {
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: #212121;
    border-radius: 0 20px 20px 0;
    padding: 20px;
    overflow: scroll;
}

.shorts-comment-block {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 10px;
    border-radius: 20px;
}

.shorts-comment-block:hover {
    background-color: #282828;
}

.shorts-channel-header {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.shorts-channel-comment {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 330px;
}

.shorts-channel-user {
    color: white;
    font-size: 14px;
    font-weight: bold;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.shorts-channel-sub {
    color: lightgrey;
    font-size: 14px;
}

.shorts-comment {
    color: white;
    font-size: 14px;
    margin-top: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;         /* Use WebKit's box model */
    -webkit-line-clamp: 4;        /* Limit the text to 3 lines */
    -webkit-box-orient: vertical;
}

.shorts-comments-title-block {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    margin-bottom: 10px;
}

.shorts-comments-title {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.shorts-comments-count {
    color: grey;
    font-size: 17px;
}

.learn-more {
    color: #3CA7FF;
    font-weight: bold;
    font-size: 15px;
    border-radius: 20px;
    background-color: none;
    padding: 10px;
    justify-content: center;
    display: flex;
    width: 100px;
}

.learn-more:hover {
    background-color: #263951;
    cursor: pointer;
}