@media only screen and (min-aspect-ratio: 1/1) { /* For laptop */
    .shorts-view {
        flex-direction: row;
        width: calc(75vw - 30px);
    }
    
    .shorts-footage {
        height: 35vw;
        width: 20vw;
        border-radius: 20px 0 0 20px;
    }

    .shorts-comments {
        height: 35vw;
        width: 35vw;
        border-radius: 0 20px 20px 0;
    }

    .shorts-channel-comment {
        width: 26vw;
    }

    .shorts-comments-padding {
        padding: 20px;
    }

    .shorts-channel-user {
        width: 20vw;
    }

    .footage-previous {
        top: 17vw;
    }
    
    .footage-next {
        top: calc(17vw + 40px);
    }

    .shorts-previous {
        top: 17vw;
        right: 4vw;
    }
    
    .shorts-next {
        top: calc(17vw + 60px);
        right: 4vw;
    }

    .shorts-back {
        left: 10px;
        top: 10px;
    }
}

@media only screen and (max-aspect-ratio: 1/1) { /* For phone */
    .shorts-view {
        flex-direction: column;
    }

    .shorts-footage {
        height: 70vh;
        width: 40vh;
        border-radius: 20px;
        overflow: hidden;
        margin-top: 8vh;
    }

    .shorts-comments {
        height: 70vh;
        width: 40vh;
        border-radius: 20px;
        margin-bottom: 8vh;
    }

    .shorts-channel-comment {
        width: 60vw;
    }

    .shorts-comments-padding {
        padding: 10px;
    }

    .shorts-comments-title-block {
        margin-left: 4vw;
        margin-top: 3vw;
    }

    .shorts-channel-user {
        width: 35vw;
    }

    .footage-previous {
        top: 30vh;
    }
    
    .footage-next {
        top: calc(30vh + 40px);
    }

    .shorts-previous {
        top: 0;
    }
    
    .shorts-next {
        top: calc(145vh + 40px);
    }

    .shorts-back {
        left: 0;
        top: 0;
    }
}

.shorts-view {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.shorts-footage {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.shorts-comments {
    display: flex;
    flex-direction: column;
    background-color: #212121;
    overflow-y: scroll;
}

.shorts-comment-block, #regular-comment {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 10px;
    border-radius: 20px;
}

#highlight-comment {
    background-color: #282828;
}

.shorts-channel-header {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.shorts-channel-comment {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.shorts-channel-user {
    color: white;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.shorts-channel-sub {
    color: lightgrey;
    font-size: 14px;
}

.shorts-comment {
    color: white;
    font-size: 14px;
    margin-top: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;         /* Use WebKit's box model */
    -webkit-line-clamp: 4;        /* Limit the text to 3 lines */
    -webkit-box-orient: vertical;
}

.shorts-comments-title-block {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    margin-bottom: 10px;
}

.shorts-comments-title {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.shorts-comments-count {
    color: grey;
    font-size: 17px;
}

.learn-more {
    color: #3CA7FF;
    font-weight: bold;
    font-size: 15px;
    border-radius: 20px;
    background-color: none;
    padding: 10px;
    justify-content: center;
    display: flex;
    width: 100px;
}

.learn-more:hover {
    background-color: #263951;
    cursor: pointer;
}

.footage-previous, .footage-next {
    width: 34px;
    height: 34px;
    border-radius: 17px;
    position: absolute;
    right: 0.5vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: white;
    opacity: 0.5;
    transition: ease-in-out 0.3s;
    z-index: 5;
}

.footage-previous:hover, .footage-next:hover, .shorts-previous:hover, .shorts-next:hover, .shorts-back:hover {
    opacity: 1;
    cursor: pointer;
}

.shorts-previous, .shorts-next {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    position: absolute;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: white;
    opacity: 0.5;
    transition: ease-in-out 0.3s;
    z-index: 5;
}

.shorts-back {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    position: absolute;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: white;
    opacity: 0.5;
    transition: ease-in-out 0.3s;
}

.shorts-footage-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}